:root {
    --desktop-font-size: 1.2rem/1.5;
    --mobile-font-size: 1rem/1.4;
    --text-color: #2d2d2d;
    --link-color: #0086b3;
    --link-color-alt: blue;
    --bad-color: #ffe6e6;
    --good-color: #e6ffe6;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background {
    width: 100%;
    min-height: 100vh;
}

#content {
    color: var(--text-color);
    min-height: 100vh;
    margin: 0 auto;
    max-width: 85ch;
    padding: 0 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#content, input, button {
    font: var(--desktop-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
}

#error-output {
    color: darkred;
}

hr {
    margin: 2rem;
    width: 90%;
}

#main-input {
    width: 100%;
    max-width: 850px;
    border-radius: 8px;
    appearance: none;
    border: 1px solid var(--text-color);
    display: block;
    margin: 0.5rem 0;
    padding: 0.8rem;
}
input:focus, input:active { background-color: aliceblue; border-color: var(--link-color); }

#main-button {
    width: 200px;
    font: var(--desktop-font-size);
    border-radius: 8px;
    border: 1px solid var(--text-color);
    background-color: var(--good-color);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}

#enter-text {
    margin-bottom: 0px;
}

#nft-name {
    margin-bottom: 0;
}

.nft-image {
    width: 100%;
    display: block;
    height: auto;
}
#main-image {
    max-width: 250px;
}

#nft-location-upper {
    padding-top: 10px;
}

.nft-content {
    border-radius: 8px;
    padding: 0 5px;
}

#on-chain-content {
    background-color: var(--good-color);
}

#off-chain-content {
    background-color: var(--bad-color);
}

.token-uri {
    line-break: anywhere;
}

th {
    vertical-align: top;
    width: 25%;
}

table {
    border-spacing: 1em;
    white-space: pre-wrap;
    line-break: anywhere;
}

a,a:visited { color: var(--link-color); }
a:hover,a:focus { color: var(--link-color-alt); }

body {
    /* Needed becomes sometimes on-chain svgs will override this */
    overflow-x: visible  !important;
    overflow-y: visible  !important;
}


@media screen and (max-width: 75ch) {
    body, input {
        font: var(--mobile-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    }
    table { table-layout: auto; }
}
